In [83]:
import pandas as pd
import numpy as np
import os

In [84]:
os.getcwd()
os.chdir('C:\\Users\\nkyam\\Desktop')
os.getcwd()

'C:\\Users\\mingl\\Desktop'

In [126]:
df_19 = pd.read_csv('2019County.csv')
df_19['Fiscal Year'] = 2019
df_19

,GEOID,County,PI_HV,HS_HV,EHS_HV,MIECHV,HFI By Service,PTS,Total Slots,Fiscal Year
0,0400000US17,Illinois,17391,925,3430,484,1446,1539,25215,2019
1,0500000US17001,Adams,68,0,10,0,35,0,113,2019
2,0500000US17003,Alexander,50,0,0,0,0,0,50,2019
3,0500000US17005,Bond,90,0,0,0,45,0,135,2019
4,0500000US17007,Boone,0,0,0,0,0,0,0,2019
...,...,...,...,...,...,...,...,...,...,...
98,0500000US17195,Whiteside,55,0,19,0,88,0,162,2019
99,0500000US17197,Will,180,0,144,0,0,0,324,2019
100,0500000US17199,Williamson,0,0,43,0,0,0,43,2019
101,0500000US17201,Winnebago,301,112,0,64,0,83,560,2019
102,0500000US17203,Woodford,0,0,0,0,6,0,6,2019

In [127]:
df_20 = pd.read_csv('2020County.csv')
df_20['Fiscal Year'] = 2020
df_20

,GEOID,County,PI_HV,HS_HV,EHS_HV,MIECHV,HFI By Service,PTS,Total Slots,Fiscal Year
0,0400000US17,Illinois,18228,735,3891,876,1351,1268,26349,2020
1,0500000US17001,Adams,68,0,20,0,34,0,122,2020
2,0500000US17003,Alexander,50,0,0,0,0,0,50,2020
3,0500000US17005,Bond,110,0,0,0,40,0,150,2020
4,0500000US17007,Boone,0,0,0,0,0,0,0,2020
...,...,...,...,...,...,...,...,...,...,...
98,0500000US17195,Whiteside,55,0,19,0,60,0,134,2020
99,0500000US17197,Will,242,0,116,0,0,0,358,2020
100,0500000US17199,Williamson,0,0,43,0,0,0,43,2020
101,0500000US17201,Winnebago,290,0,114,101,0,84,589,2020
102,0500000US17203,Woodford,0,0,0,0,7,0,7,2020

In [129]:
nt = pd.concat([df_19, df_20], axis = 0)
con = nt.reset_index().drop(columns = 'index')
con

,GEOID,County,PI_HV,HS_HV,EHS_HV,MIECHV,HFI By Service,PTS,Total Slots,Fiscal Year
0,0400000US17,Illinois,17391,925,3430,484,1446,1539,25215,2019
1,0500000US17001,Adams,68,0,10,0,35,0,113,2019
2,0500000US17003,Alexander,50,0,0,0,0,0,50,2019
3,0500000US17005,Bond,90,0,0,0,45,0,135,2019
4,0500000US17007,Boone,0,0,0,0,0,0,0,2019
...,...,...,...,...,...,...,...,...,...,...
201,0500000US17195,Whiteside,55,0,19,0,60,0,134,2020
202,0500000US17197,Will,242,0,116,0,0,0,358,2020
203,0500000US17199,Williamson,0,0,43,0,0,0,43,2020
204,0500000US17201,Winnebago,290,0,114,101,0,84,589,2020
205,0500000US17203,Woodford,0,0,0,0,7,0,7,2020

In [130]:
re_df = pd.read_csv('region.csv')
re_df

              GEOID      County        ROE
0    0500000US17001       Adams   Region 1
1    0500000US17003   Alexander  Region 30
2    0500000US17005        Bond   Region 3
3    0500000US17007       Boone   Region 4
4    0500000US17009       Brown   Region 1
..              ...         ...        ...
97   0500000US17195   Whiteside  Region 47
98   0500000US17197        Will  Region 56
99   0500000US17199  Williamson  Region 21
100  0500000US17201   Winnebago   Region 4
101  0500000US17203    Woodford  Region 53

[102 rows x 3 columns]

In [173]:
Final = pd.merge(con, re_df, how = 'left', on = 'County').dropna()
Fin = Final.drop(columns = 'GEOID_x').rename(columns={'GEOID_y': 'GEOID'})
Fin

,County,PI_HV,HS_HV,EHS_HV,MIECHV,HFI By Service,PTS,Total Slots,Fiscal Year,GEOID,ROE
1,Adams,68,0,10,0,35,0,113,2019,0500000US17001,Region 1
2,Alexander,50,0,0,0,0,0,50,2019,0500000US17003,Region 30
3,Bond,90,0,0,0,45,0,135,2019,0500000US17005,Region 3
4,Boone,0,0,0,0,0,0,0,2019,0500000US17007,Region 4
5,Brown,17,0,21,0,0,0,38,2019,0500000US17009,Region 1
...,...,...,...,...,...,...,...,...,...,...,...
201,Whiteside,55,0,19,0,60,0,134,2020,0500000US17195,Region 47
202,Will,242,0,116,0,0,0,358,2020,0500000US17197,Region 56
203,Williamson,0,0,43,0,0,0,43,2020,0500000US17199,Region 21
204,Winnebago,290,0,114,101,0,84,589,2020,0500000US17201,Region 4
205,Woodford,0,0,0,0,7,0,7,2020,0500000US17203,Region 53

In [234]:
Fi = Fin.groupby(['ROE', 'Fiscal Year'], as_index = False).sum().iloc[2:, ]
F = Fi.reset_index().drop(columns = 'index')
F

,ROE,Fiscal Year,PI_HV,HS_HV,EHS_HV,MIECHV,HFI By Service,PTS,Total Slots
0,Region 1,2019,292,0,62,0,35,0,389
1,Region 1,2020,290,0,61,0,34,0,385
2,Region 11,2019,252,8,0,0,0,0,260
3,Region 11,2020,210,8,0,3,0,0,221
4,Region 12,2019,309,0,11,0,44,0,364
...,...,...,...,...,...,...,...,...,...
65,Region 56,2020,242,0,116,0,0,0,358
66,Region 8,2019,236,0,0,23,36,89,384
67,Region 8,2020,232,0,0,39,41,75,387
68,Region 9,2019,350,37,50,0,0,0,437
69,Region 9,2020,425,40,56,1,0,0,522

In [230]:
cb_df = pd.read_excel(r'combo.xlsx')
cb_df.head()

,GEOID,ROE Area_Name,Region ID,RegionDesc
0,0001100US17001,Region 1,17001,"Adams, Brown, Cass, Morgan, Pike, and Scott co..."
1,0001100US17003,Region 3,17003,"Bond, Christian, Effingham, Fayette, and Montg..."
2,0001100US17004,Region 4,17004,Boone and Winnebago counties
3,0001100US17008,Region 8,17008,"Carroll, Jo Daviess, and Stephenson counties"
4,0001100US17009,Region 9,17009,Champaign and Ford counties

In [235]:
subset = pd.merge(F, cb_df, how = 'left', left_on = 'ROE', right_on = 'ROE Area_Name').drop(columns = ['GEOID','ROE Area_Name','RegionDesc'])

subset

,ROE,Fiscal Year,PI_HV,HS_HV,EHS_HV,MIECHV,HFI By Service,PTS,Total Slots,Region ID
0,Region 1,2019,292,0,62,0,35,0,389,17001
1,Region 1,2020,290,0,61,0,34,0,385,17001
2,Region 11,2019,252,8,0,0,0,0,260,17011
3,Region 11,2020,210,8,0,3,0,0,221,17011
4,Region 12,2019,309,0,11,0,44,0,364,17012
...,...,...,...,...,...,...,...,...,...,...
65,Region 56,2020,242,0,116,0,0,0,358,17056
66,Region 8,2019,236,0,0,23,36,89,384,17008
67,Region 8,2020,232,0,0,39,41,75,387,17008
68,Region 9,2019,350,37,50,0,0,0,437,17009
69,Region 9,2020,425,40,56,1,0,0,522,17009

In [288]:
region = subset['ROE'].unique()
ID = subset['Region ID'].unique()
for i, r in zip(ID, region):
    col = subset.columns[1:9]
    my_dic = {}
    n = 0
    for c in col:
        my_dic[n] = c
        n = n+1
    my_dic[0] = "/"
    my_list =['Fiscal Year', 'Proposed Capacity', 'Funded Enrollment', 'Funded Enrollment', 'Enrollment',
             'Enrollment', 'Enrollment', 'Enrollment']
    my_dic0 = {}
    n_0 = 0
    for l in my_list:
        my_dic0[n_0] = l
        n_0 += 1
    a1 = subset[(subset['ROE'] == r)& (subset['Fiscal Year'] == 2019)]
    row_19 = a1.iloc[0, 1:9].tolist()
    my_dic1 = {}
    n_1 = 0
    for v1 in row_19:
        my_dic1[n_1] = v1
        n_1 += 1
    a2 = subset[(subset['ROE'] == r)& (subset['Fiscal Year'] == 2020)]
    row_20 = a2.iloc[0, 1:9].tolist()
    my_dic2 = {}
    n_2 = 0
    for v2 in row_20:
        my_dic2[n_2] = v2
        n_2 += 1
    # csv header
    fieldnames = [0, 1, 2, 3, 4, 5, 6, 7]
    #csv header
    rows = [my_dic, my_dic0, my_dic1, my_dic2]
    with open((str(i)+str('_HV')+'.csv'), 'w', encoding='UTF8', newline='') as f:
        writer = csv.DictWriter(f, fieldnames=fieldnames)
        writer.writeheader()
        writer.writerows(rows)